

{% block body %}
    <div class="container">
        <h3>Bonjour {{ visitor.name }} !</h3>
        <p>J'ai bien reçu votre message.
        Je reviens vers vous dans les meilleurs délais.</p>

        <h2>Merci de votre visite !</h2>

        <img src="./img/logo/logo1.png">
    </div>
{% endblock %}