
{% block body %}
    <div class="container email">
        <h3>Bonjour {{ visitor.name }} !</h3>
        <p>J'ai bien reçu votre message.
        Je reviens vers vous dans les meilleurs délais. <br> <br>
        Je vous invite à me suivre en attendant sur le réseau Linkedin via ce lien : <a href="https://www.linkedin.com/in/amadou-bassirou-ndiaye-229b93197/">Mon LinkedIN.</a></p>

        <h2>Merci de votre visite !</h2>
        <h3 style="color:lightblue; font-style: italic;">Amadou NDIAYE - Développeur Web <br>Tél : 07 79 03 88 26</h3>
    </div>
{% endblock %}